DB_USERNAME=[secret]
DB_DATABASE=[secret]
DB_PASSWORD=[secret]
DB_HOST=[secret]
DB_PORT=[secret]

EVENTS_DB_DATABASE=[secret]
DATA_DB_DATABASE=[secret]

APP_KEY=[secret]
APP_DOMAIN=nawhas.com

SENTRY_LARAVEL_DSN=[secret]

AWS_ACCESS_KEY_ID=[secret]
AWS_BUCKET=nawhas
AWS_DEFAULT_REGION=us-east-2
AWS_SECRET_ACCESS_KEY=[secret]

GOOGLE_APP_ID=[secret]
GOOGLE_APP_SECRET=[secret]

FACEBOOK_APP_ID=[secret]
FACEBOOK_APP_SECRET=[secret]

MEILISEARCH_HOST=search:7700
MEILISEARCH_KEY=[secret]

GITHUB_ENABLED=true
GITHUB_APP_ID=[secret]
GITHUB_INSTALLATION_ID=[secret]
