VUE_APP_ALGOLIA_APP_ID=[secret]
VUE_APP_ALGOLIA_SEARCH_KEY=[secret]
VUE_APP_API_DOMAIN=https://api.nawhas.com
VUE_APP_APP_DOMAIN=https://nawhas.com
VUE_APP_SEARCH_HOST=https://search.staging.nawhas.com
VUE_APP_GTAG_ENABLED=true
