DB_USERNAME=[secret]
DB_DATABASE=[secret]
DB_PASSWORD=[secret]
DB_HOST=[secret]
DB_PORT=[secret]

EVENTS_DB_DATABASE=[secret]
DATA_DB_DATABASE=[secret]

APP_KEY=[secret]
APP_ENV=staging
APP_DOMAIN=staging.nawhas.com

SENTRY_LARAVEL_DSN=[secret]

AWS_ACCESS_KEY_ID=[secret]
AWS_BUCKET=[secret]
AWS_DEFAULT_REGION=[secret]
AWS_SECRET_ACCESS_KEY=[secret]

GOOGLE_APP_ID=[secret]
GOOGLE_APP_SECRET=[secret]

FACEBOOK_APP_ID=[secret]
FACEBOOK_APP_SECRET=[secret]

MEILISEARCH_HOST=search:7700
MEILISEARCH_KEY=[secret]

SESSION_COOKIE_PREFIX=stg_

SMTP_HOST=smtp.sendgrid.net
SMTP_PORT=587
SMTP_USERNAME=apikey
SMTP_PASSWORD=[secret]
SMTP_ENCRYPTION=tls
