@import '~vuetify/src/styles/styles';
@import "transitions";
@import "functions";

// Colors
$primary: map-deep-get($colors, 'red', 'base');
$secondary: map-deep-get($colors, 'grey', 'darken-2');
$accent: map-deep-get($colors, 'orange', 'accent-3');
$wordmark: #DA0000;
