.card__title {
  border-bottom: rgba(0, 0, 0, 0.05) solid 1px;

  display: flex;
  align-items: center;

  .card__title__icon {
    margin-right: 14px;
  }
  &.card__title--link {
    cursor: pointer;
  }
}
