DB_USERNAME=nawhas
DB_DATABASE=nawhas_original
DB_PASSWORD=secret
DB_HOST=postgres
DB_PORT=5432

QUEUE_CONNECTION=redis

EVENTS_DB_DATABASE=nawhas_events
DATA_DB_DATABASE=nawhas_data

APP_KEY=
APP_ENV=integration

AWS_ACCESS_KEY_ID=
AWS_BUCKET=intg.nawhas
AWS_DEFAULT_REGION=us-east-2
AWS_SECRET_ACCESS_KEY=

MEILISEARCH_HOST=search:7700
MEILISEARCH_KEY=secret
