includes:
    - ./vendor/nunomaduro/larastan/extension.neon

parameters:
    paths:
        - app
    level: 5
    ignoreErrors:
        - '#Unsafe usage of new static#'
        - '#Access to undefined constant [A-Za-z0-9\\]+Enum[A-Za-z0-9\\:]+#'
        - '#Access to an undefined property [A-Za-z0-9\\]+Enum[A-Za-z0-9\\:]+\$value#'
