DB_USERNAME=[secret]
DB_DATABASE=[secret]
DB_PASSWORD=[secret]
DB_HOST=[secret]
DB_PORT=[secret]

APP_KEY=[secret]
APP_ENV=staging
APP_DOMAIN=staging.nawhas.com

ALGOLIA_API_KEY=[secret]
ALGOLIA_APP_ID=[secret]

SENTRY_LARAVEL_DSN=[secret]

AWS_ACCESS_KEY_ID=[secret]
AWS_BUCKET=[secret]
AWS_DEFAULT_REGION=[secret]
AWS_SECRET_ACCESS_KEY=[secret]
